@import "../../../assets/sass/mixsins";
@import "../../../assets/sass/variables";

.workProcess {
  // background-color: #000;
  &__main {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  &__subTitle {
    font-family: $font-family-1;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $primary-color;
  }
  &__title {
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-top: 30px;
    text-align: center;
    color: $title-color;
  }
  &__list {
    @include dflex;
    margin-top: 70px;
  }
  &__item {
    max-width: 302px;
    width: 100%;
    height: auto;
    background-color: $white;
    box-shadow: 20px 6px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    transition: all 0.2s linear;
    // background-image: url("../../../assets/images/workProcess-bg.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // width: 320px;
    // height: 320px;
  }

  &__inner {
    padding: 40px 30px;
    @include flex;
    flex-direction: column;
  }
  &__innerImage-div {
    width: 90px;
    height: 90px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__inner-title {
    font-family: $font-family-1;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 28px !important;
    align-items: center;
    color: $title-color;
  }
  &__inner-text {
    font-family: "DM Sans";
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: $text-color;
  }

  @media screen and (max-width: 1255px) {
    // .container {
    //   width: 100%;
    //   margin: 0 auto;
    //   padding: 0 20px;
    //   max-width: 1150px;
    // }
    &__item {
      max-width: 280px;
      transition: all 0.2s linear;
    }
    &__inner {
      padding: 40px 18px;
    }
  }
  @media screen and (max-width: 1200px) {
    .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      max-width: 1150px;
    }
    &__item {
      max-width: 255px;
    }
    &__inner {
      padding: 35px 18px;
    }
    &__inner-title {
      font-size: 20px;
      line-height: 24px;
    }
    &__inner-text {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
