@import "../../assets/sass/mixsins";
@import "../../assets/sass/variables";

.OurServicesHome {
  &__bg {
    width: 100%;
    min-height: 40vh;
    background-image: url("../../assets/images/about/about-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center left;
    padding-bottom: 128px;
  }


  &__hero {
    padding-top: 228px;
  }
}
