@import "../../../assets/sass/mixsins";
@import "../../../assets/sass/variables";



.aboutMoreUs {
  &__main {
    padding-top: 120px;
  }

  &__main-div {
    @include dflex;
  }
  &__left-div {
    width: 672px;
    height: 500px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius1;
    }
  }
  &__right-div {
    margin-left: 65px;
  }
  &__span {
    @include subTitleSpan;
  }
  &__title {
    font-family: $font-family-1;
    font-weight: 700;
    font-size: 48px;
    margin-top: 30px;
    line-height: 58px;
    color: $title-color;
  }
  &__text {
    width: 100%;
    max-width: 543px;
    font-family: $font-family-1;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 50px;
    color: $text-color;
  }
  &__text1 {
    width: 100%;
    max-width: 543px;
    font-family: $font-family-1;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    color: $text-color;
  }
  &__btn {
    padding: 12px 30px;
    color: $white;
    font-family: $font-family-1;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 40px;
    border-radius: $border-radius2;
    background-color: $primary-color;
    @include hover-btn;
  }
}
