// Colors
$black: #000;
$white: #ffffff;
$paragraph: #5d666f;
$text-color: #6f737b;
$title-color: #111a2e;
$footer-text: #949494;
$primary-color: #3b38eb;
$sceondary-color: #1d263a;
$footer-backround: #1c1c1c;
$team-hover-icon: #e6e6e6;
$customer-bg: #f7f7f7;
$footer-botton: #292929;
$ourServices_bg: #d9d9d9;
$border: #edeff3;
$border-post: #e6e9f0;
$active-btn: #17156d;
// Border-radius
$border-radius1: 8px;
$border-radius2: 15px;
$border-radius3: 20px;

// Bx-shadow
$bg-color1: rgba(59, 56, 235, 0.05);
$border1: 1px solid rgba(59, 56, 235, 0.12);
$box-shadow1: 0px 14px 46px #e8eef9;
$box-shadow2: 20px 6px 35px rgba(0, 0, 0, 0.05);
$box-shadow3: 0px 24px 33px rgba(0, 0, 0, 0.08);
$box-shadow4: 220px 6px 35px rgba(0, 0, 0, 0.05);
$box-shadow5: 0px 17px 25px rgba(59, 56, 235, 0.19);
$box-shadow6: 20px 6px 35px 0px 24px 33px rgba(44, 60, 143, 0.03);
$box-shadow7: rgba(59, 56, 235, 0.12);
$box-shadow8: 0px 24px 33px rgba(44, 60, 143, 0.03);
$box-shadow9: 0px 20px 34px #dfe0f1;
$box-shadow10: 0px 12px 52px rgba(46, 44, 165, 0.1);
$box-shadow11: 0px 9px 18px rgba(24, 16, 16, 0.05);
$box-shadow12: 0px 21px 27px rgba(0, 0, 0, 0.03);
$box-shadow13: 0px 21px 27px rgba(0, 0, 0, 0.07);
// Fonts
$font-family-1: "Urbanist", sans-serif;
$font-family-2: "DM Sans", sans-serif;
